html, body
{
	width: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	background: #00285a;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.container
{
	padding: 0;
	margin: 0 auto;
}

/*text colors*/
	.clr-blue
	{
		color: #00285a;
	}

	.radio label::before
	{
		border: 1px solid #00285a;
	}
	.radio label::after
	{
		background: #00285a;
	}

.btn-blue-wrapper
{
	position: relative;
    background: #00285a;
}

.btn-blue-wrapper .spinner
{
	opacity: 1 !important;
	opacity: 0 !important;
    top: 17px;
    transform: scale(.4);
}

.screen-full
{
	float: none;
	background: #0070af;
	height: 100%;
	overflow: hidden;
	/*text-align: center;*/
}

.head-logo
{
	width: 75%;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -35%; 
	display: block;
	transition: all .4s ease-out;
	opacity: 0;
	transform: translateY(-25%) scale(1);
}

.screen-splash .head-logo
{
	opacity: 1;
	transform: translateY(25%) scale(1);
}

.ft-logo
{
	width: 150px;
    height: auto;
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -75px;
    display: block;
    opacity: 0;
    transition: all .4s ease-out;
}

.screen-splash .ft-logo
{
	opacity: 1;
	bottom: 10px;
}
.screen-login .head-logo
{
	transform: translateY(25%) scale(.8);
}

/*login form*/
	.form-login-wrap
	{
		margin: 30% auto 0 auto;
		float: none;
		height: 0;
		overflow: hidden;
		opacity: 0;
	    transition: all .4s ease-out;
	}

	.form-login-wrap input
	{
		margin-top: 10px;
		border-radius: 0;
		color: #777777;
		padding: 20px 15px;
		background: #fff;
	}

	.form-login-wrap #btn-login
	{
		
	}

	.screen-login .form-login-wrap
	{
		margin: 20% auto 0 auto;
		height: 200px;
		opacity: 1;
	}

.location-detected-text
{
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 32px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    top: 0;
    left: 0;
    opacity: 0;
    background: #789600;
}

.location-detecting #btn-getlocation
{
	opacity: 0;
}

.location-detecting .spinner
{
	opacity: 1 !important;
}

/*.location-detected #btn-getlocation
{
	opacity: 0;
}*/

.location-detected .location-detected-text
{
	opacity: 1;
}

html body .btn-blue
{
	/*padding: 15px 10px !important;
	background: #00285a !important;
	color: #fff !important;
	font-size: 15px !important;
	border: 0 !important;
	display: block;
	text-align: center;
	width: 100% !important;
	text-decoration: none;*/

	padding: 15px 10px !important;
    background: #00285a !important;
	width: 100% !important;
    color: #fff !important;
    font-size: 15px !important;
    border: 0 !important;
    display: block;
    text-align: center;
    z-index: 4;
    position: relative;
    text-decoration: none;
}

#btn-getlocation
{

}

input[type="file"]
{
    display: none;
}

.custom-file-upload
{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.file-upload-wrap label
{
	display: inline-block;
    background: #00285a;
    width: 80px;
    height: 60px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20px;
    left: 25px;
    background: url(../../images/icon-camera.jpg) no-repeat;
    background-size: auto 100%;
    cursor: pointer;
}
.file-upload-wrap label i
{
	font-size: 25px;
	color: #fff;
}
.file-upload-wrap #result-wrapper
{
	width: calc( 100% - 135px );
    height: 100px;
    overflow: hidden;
    overflow-x: auto;
    /*background: #ccc;*/
    position: absolute;
    top: 0;
    left: 130px;
}

.file-upload-wrap #result-wrapper #img-result
{
	width: auto;
    height: 100%;
    overflow: hidden;
    /* background: #ccc; */
    position: relative;
    top: 0;
    left: 0;
}

.file-upload-wrap #img-result div
{
	width: 80px;
	height: 80px;
	float: left;
	margin: 0 10px 0 0;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.file-upload-wrap #img-result div i
{
	position: absolute;
    top: 0;
    display: block;
    right: 0;
    color: #fff;
    font-size: 20px;
    /*z-index: 2;*/
    background: black;
}
.file-upload-wrap #img-result div img
{
	width: auto;
    height: 100%;
    border: 0;
    border: 1px solid #d4d4d4;
    border-radius: 0;
}
/*loader css*/
	.spinner {
	  width: 70px;
	  text-align: center;
	  opacity: 0;
	  position: absolute;
	  left: 50%;
	  margin-left: -35px;
	  top: 55%;
	}

	.spinner > div {
	  width: 18px;
	  height: 18px;
	  background-color: #fff;

	  border-radius: 100%;
	  display: inline-block;
	  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.spinner .bounce1 {
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}

	.spinner .bounce2 {
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}

	@-webkit-keyframes sk-bouncedelay {
	  0%, 80%, 100% { -webkit-transform: scale(0) }
	  40% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bouncedelay {
	  0%, 80%, 100% { 
	    -webkit-transform: scale(0);
	    transform: scale(0);
	  } 40% { 
	    -webkit-transform: scale(1.0);
	    transform: scale(1.0);
	  }
	}

	.screen-splash .spinner
	{
		opacity: 1;
	}
	.screen-login .spinner
	{
		opacity: 0;
	}
/*loader css*/


/*inner pages*/
	.header
	{
		padding: 20px 0 20px 0;
		position: relative;
		overflow: hidden;
	}

	.header > a
	{
		font-size: 15px;
		color: #fff;
		border: none;
		outline: none;
		position: absolute;
		left: 20px;
		top: 28px;
		text-decoration: none;
	}

	.header > a.btn-small
	{
		/*font-size: 10px;
	    left: auto;
	    right: 4px;
	    padding: 4px 6px 3px 6px;
	    top: 4px;
	    color: #0070af;
	    background: #eeeeee;
	    text-decoration: none;*/

	    font-size: 16px;
        left: 10px;
        padding: 4px 6px 3px 6px;
        top: 18px;
        text-decoration: none;
	}

	.header > span
	{
		color: #fff;
		display: block;
		font-size: 18px;
		text-align: center;
	}

	.page-content
	{
		height: calc( 100% - 50px );
		background: #eeeeee;
	}

	.res-com
	{
		padding: 20px 0 30px 0;
	}

	.gps-located span
	{
		clear: both;
	}

	.gps-located span
	{
		font-size: 13px;
		margin-bottom: 10px;
		color: #000;
		display: block;
	}

	.seperator
	{
		display: block;
		float: none;
		clear: both;
		height: 1px;
		background: #b8b8b8;
		position: relative;
		text-align: center;
		margin: 25px 0;
	}

	.seperator span
	{
		color: #b8b8b8;
		position: relative;
		top: -11px;
		background: #eeeeee;
		padding: 0 10px;
		font-weight: bold;
		font-size: 12px;
	}

	.given-adrress
	{

	}

	.given-adrress span
	{
		font-size: 13px;
		margin-bottom: 10px;
		display: block;
		color: #000;
	}

	input.general-fields
	{
		margin-bottom: 10px;
	    border-radius: 0;
	    color: #777777;
	    padding: 10px 15px;
	    background: #fff;
	    border: 1px solid #afafaf;
	    width: 100%;
	}
	select.general-fields
	{
		margin-bottom: 10px;
	    border-radius: 0;
	    color: #777777;
	    padding: 10px 15px;
	    background: #fff;
	    border: 1px solid #afafaf;
	    width: 100%;
        font-size: 16px;
	}
	textarea.comments
	{
		width: 100%;
	    padding: 15px;
	    resize: none;
	    min-height: 300px;
	    font-size: 16px;
	}
	.screen-overflow .page-content
	{
		padding: 0;
	}
	.overflowed-content
	{
		height: 100%;
	}

	.file-upload-wrap
	{
		height: 100px;
		background: #eeeeee;
	}

	.inner-list-wrap
	{
		position: relative;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    height: calc( 100% - 100px );
	    overflow: auto;
	    padding-bottom: 10px;
	}
	.inner-list-wrap li
	{
		position: relative;
	}
	.inner-list-wrap li:nth-child(even)
	{
		background: #ccc;
	}
	.inner-list-wrap li:nth-child(odd)
	{
		background: #fff;
	}
	.inner-list-wrap li a
	{
		text-decoration: none;
		display: block;
		font-size: 18px;
		color: #000;
		padding: 15px 25px;
	}
	.inner-list-wrap li a:before
	{
	    display: none;
	    position: absolute;
	    content: "edited";
	    right: 45px;
	    top: 18px;
	    line-height: 20px;
	    font-size: 12px;
	    color: #fff;
	    background: #000000;
	    text-transform: capitalize;
	    /* transform: rotate(48deg); */
	    padding: 0 5px;
	}
	.inner-list-wrap li i
	{
		float: right;
		top: 4px;
	}
	.inner-list-wrap li.edited a:before
	{
		display: block;
	}
	/*subpages*/
		.container-inner
		{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
			/*background: red;*/
			width: 100%;
			display: none;
		}

		.container-inner .overflowed-content
		{
			overflow: auto;
			padding-bottom: 20px;
		}

		.inner-fields
		{
			overflow: hidden;
		    margin-top: 30px;
		    position: relative;
		    padding-right: 25px;
		    padding-left: 25px;
		    padding-bottom: 5px;
		}

		.inner-fields label
		{
			font-size: 17px;
			position: relative;
			top: 9px;
		}

		.inner-fields input[type='text']
		{
			padding: 10px;
			width: 100px;
		}

		.inner-fields-radio .radio
		{
			width: 100%;
		}
		.inner-fields-radio .radio label
		{
			position: relative;
		    left: -25px;
		    top: 0;
		    width: 100%;
		    display: block;
		    padding: 5px;
		    color: #333;
		    font-size: 17px;
		    font-weight: bold;
		}

		.inner-fields-radio .radio label:before
		{
			right: 16px;
			top: 9px;
			width: 20px;
			height: 20px;
			left: auto;
			border-color: #000;
		}

		.inner-fields-radio .radio label:after
		{
			right: 19px;
			top: 12px;
			width: 14px;
			height: 14px;
			left: auto;
			background: #000;
		}
		.inner-fields-radio .radio label span
		{
			display: inline-block;
			width: 70%;
		}
		.inner-fields-checkbox .checkbox.checkbox-inline
		{
			width: 100%;
			padding: 0;
		}
		.inner-fields-checkbox label
		{
			width: 100%;
			top: 0;
		}
		.inner-fields-checkbox label:before
		{
			left: auto;
		    right: 10px;
			top: 7px;
		}
		.inner-fields-checkbox label:after
		{
			left: auto;
			top: 7px;
		    right: 11px;
		}
		.inner-fields.field-checkbox input
		{
		    position: relative;
		    top: 11px;
		    -moz-transform: scale(1.5);
		    -webkit-transform: scale(1.5);
		    -o-transform: scale(1.5);
		}

		#page-submit
		{
			padding: 15px 0 !important;
		    font-size: 20px !important;
		}
	/**/